# Polygon Options Overview

In [3]:
import pandas as pd
from polygon import RESTClient

In [4]:
api_key = open("api_key.txt").read()
client = RESTClient(api_key)

In [ ]:
# only shows pricing for options with activity
client.get_aggs("O:SPY251219C00650000", timespan="day", multiplier=1, from_="2024-09-01", to="2024-10-01")

In [18]:
aggs = client.get_aggs("O:SPY251219C00650000", 
                       timespan="day", multiplier=1, from_="2024-09-01", to="2024-10-01")
def make_df(aggs):
    data = []
    for agg in aggs:
        data.append({
        "date" : agg.timestamp,
        "open" : agg.open,
        "high" : agg.high,
        "low"  : agg.low,
        "close": agg.close,
        "volume": agg.volume,
        "transactions": agg.transactions
    })
    data = pd.DataFrame(data)
    data.index = pd.to_datetime(data.date, unit="ms").dt.date
    data.drop(columns=["date"], inplace = True)
    return data
make_df(aggs)

             open   high    low  close  volume  transactions
date
2024-09-03   9.53   9.55   8.78   8.78      10            10
2024-09-04   8.88   8.88   8.68   8.68      52            10
2024-09-05   8.17   8.17   8.17   8.17       6             2
2024-09-06   7.32   7.32   6.62   6.62       8             8
2024-09-09   7.06   7.41   7.06   7.41      10             4
2024-09-10   7.36   7.87   7.36   7.87      14            12
2024-09-11   6.89   8.06   6.89   8.06       8             4
2024-09-12   9.51  10.20   9.31  10.20     140            10
2024-09-13  10.50  11.09  10.50  10.74      36             8
2024-09-16  10.91  10.91  10.91  10.91      34             2
2024-09-17  12.00  12.00  10.86  10.86      30            18
2024-09-18  11.24  11.46  10.96  11.17      52            20
2024-09-19  12.90  13.44  12.65  12.86    1260            54
2024-09-20  12.25  12.45  11.96  12.31     122            54
2024-09-23  12.64  12.64  12.30  12.51      24            10
2024-09-24  12.60  12.95  12.60  12.95       8             6
2024-09-25  13.08  13.08  12.87  12.92      44            14
2024-09-26  14.39  14.42  13.44  13.70     188            28
2024-09-27  13.71  13.85  13.64  13.80     122            18
2024-09-30  13.50  13.70  13.50  13.70       6             4
2024-10-01  14.27  14.27  12.57  13.16      10             8

In [29]:
goog = client.get_daily_open_close_agg("GOOG", date="2024-10-01")
goog.close

168.42

In [25]:
def nearest_five(price, base=5):
    return base * round(price/base)

In [27]:
nearest_five(goog.close)

170

In [30]:
start = nearest_five(goog.close) - 10
strikes = [start + x * 2.5 for x in range(9)]

In [31]:
strikes = [strike * 1000 for strike in strikes]

In [32]:
strikes

[160000.0,
 162500.0,
 165000.0,
 167500.0,
 170000.0,
 172500.0,
 175000.0,
 177500.0,
 180000.0]

In [33]:
symbols = [f"O:GOOG240621C00{strike:.0f}" for strike in strikes]

In [34]:
symbols

['O:GOOG240621C00160000',
 'O:GOOG240621C00162500',
 'O:GOOG240621C00165000',
 'O:GOOG240621C00167500',
 'O:GOOG240621C00170000',
 'O:GOOG240621C00172500',
 'O:GOOG240621C00175000',
 'O:GOOG240621C00177500',
 'O:GOOG240621C00180000']

In [35]:
for symbol in symbols[:4]:
    print(f"{symbol[-6:-1]}",client.get_aggs(ticker=symbol,  timespan="day", multiplier=1, from_="2024-06-17", to="2024-06-17"))

16000 [Agg(open=17.36, high=19.68, low=17.05, close=18.9, volume=224, vwap=18.3814, timestamp=1718596800000, transactions=64, otc=None)]
16250 [Agg(open=14.55, high=17.21, low=14.55, close=16.75, volume=20, vwap=16.016, timestamp=1718596800000, transactions=14, otc=None)]
16500 [Agg(open=12.25, high=16.3, low=11.91, close=14.13, volume=504, vwap=13.5556, timestamp=1718596800000, transactions=56, otc=None)]
16750 [Agg(open=9.97, high=11.67, low=9.97, close=11.67, volume=50, vwap=10.2236, timestamp=1718596800000, transactions=10, otc=None)]